Source: board-bonewhite
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: board-bonewhite
Architecture: all
Depends:
 u-boot-bonewhite,
 linux-bonewhite,
 firmware-bonewhite,
 ${misc:Depends}
Description: Board package for Beaglebone White
 Defines the lowest-level packages required by any Beaglebone White
 target, regardless of the final application.
